@import url(//fonts.googleapis.com/css?family=Ubuntu:400,300,500,700);
@import url(//fonts.googleapis.com/css?family=Archivo+Black);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

/* Table of Contents:
   1. General
   2. Header top
   3. Header
   4. Header bottom
   5. Content top
   6. Content
   7. Content bottom
   8. Pages
   9. Sidebar and blocks
   10. Shortcodes
   11. Footer top
   12. Footer
   13. Mobile
*/
/*==========================================================================
1. GENERAL
===========================================================================*/
body {
  -webkit-tap-highlight-color: #8db698;
  background: #fffaeb;
  color: #7c7c7c;
  font-family: 'FrutigerLTW01-55Roman', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  min-width: 1250px;
  position: relative;
}
#page-wrapper {
  overflow: hidden;
}
/* Titles
===========================================================================*/
h1 {
  color: #616161;
  font: 400 50px/50px 'Archivo Black', sans-serif;
  margin-bottom: 34px;
}
h2 {
  color: #616161;
  font: 400 48px/48px 'FrutigerLTW01-55Roman', Arial, sans-serif;
  margin-bottom: 40px;
  text-align: center;
}
h3,
#block-tm-follow-user h2 {
  color: #616161;
  font: 400 40px/40px 'FrutigerLTW01-55Roman', Arial, sans-serif
  margin-bottom: 23px;
}
.profile h3,
#block-tm-follow-user h2 {
  border-bottom: 1px solid #e1e1e1;
  overflow: hidden;
  padding-bottom: 5px;
}
h4 {
  color: #616161;
  font: 400 36px/36px 'FrutigerLTW01-55Roman', Arial, sans-serif;
  margin-bottom: 20px;
  text-align:center;
}
h5 {
  color: #8db698;
  font: 400 24px/24px Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

h6 { 
  color: #8db698;
  font: 400 24px/24px Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 30px;
}

.samgraf {
  color: #8db698;
  font: 400 24px/24px Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 30px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #464646;
  text-decoration: none;
}

.title-center{
	border-bottom: 1px solid black;
	margin: 0 auto;
	width: 30%;
}

.page-title{
  color: #616161;
  font: 400 36px/36px 'Frutiger LT W01 65 Bold', Arial, sans-serif;
  margin-bottom: 20px;  
  text-align:center;	
}

.page-title-refuge{
	color:#fff;
	font: 400 28px/30px 'Frutiger LT W01 65 Bold',Arial,sans-serif;
	text-align:left;
	padding:30px 0 10px;	
	margin-left:30px;
	border-bottom:#fff 1px solid;
	width:90%;
}

.not-front .page-title{
	margin-top:0;
	border-bottom:1px solid black;
	padding-bottom:30px;
	margin-bottom:0;
}

.not-front .page-title-no-banner{
	margin-top:100px;
}

#page-header-tagline{
	width: 100%;
	max-width:1200px;
	min-height:40em;
	margin:100px auto 0px auto ;
	background-repeat:no-repeat;
	background-position:center;
	
}

.tagline-text{
	color:#fff;
	margin:50px 120px 0;
	font: 700 20px/30px 'Frutiger LT W01 65 Bold', Arial, sans-serif;
}

/* Forms
===========================================================================*/
input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="month"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
  background: #fff;
  border: 1px solid #e1e1e1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #7c7c7c !important;
  font: 13px Arial, Helvetica, sans-serif;
  max-width: 100%;
  padding: 5px 10px 6px;
}
fieldset {
  border-color: #e1e1e1;
}
label {
  display: inline-block;
}
#search-form .form-item {
  display: block;
}
#user-login .form-text,
#contact-site-form .form-text,
.search-form .form-text {
  width: 100%;
}
#contact-site-form label {
  vertical-align: middle;
}

/* Links
===========================================================================*/
a {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #ffd501;
  text-decoration: none;
}
a:hover {
  color: #464646;
  text-decoration: none;
}
.btn a,
.more-link a,
input[type="submit"],
input[type="reset"],
ul.links li a,
.view-portfolio .views-field-view-node a,
#block-poll-recent ul.links li a,
#filters li a,
.content ul.pager li a,
.content ul.pager li.pager-current,
.view .date-nav-wrapper .date-prev a,
.view .date-nav-wrapper .date-next a,
.form-submit {
  background: #464646;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  border-radius: 6px;
  display: inline-block;
  font: 400 14px/20px 'Archivo Black', sans-serif;
  outline: none;
  padding: 11px 26px;
  text-decoration: none;
  text-transform: lowercase;
}
.btn a:hover,
.more-link a:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
ul.links li a:hover,
.view-portfolio .views-field-view-node a:hover,
#block-poll-recent ul.links li a:hover,
#filters li a:hover,
#filters li a.selected,
.content ul.pager li a:hover,
.content ul.pager li.pager-current,
.view .date-nav-wrapper .date-prev a:hover,
.view .date-nav-wrapper .date-next a:hover,
.form-submit:hover {
  background: #8db698;
  color: #fff;
  text-decoration: none;
}
.more-link a,
.button a,
.btn a,
#filters li a {
  background: none !important;
  position: relative;
}
.more-link a:before,
.button a:before,
.btn a:before,
#filters li a:before {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  pointer-events: none;
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #8db698;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.3s;
  -moz-transition: -moz-transform 0.5s, opacity 0.3s;
  transition: transform 0.5s, opacity 0.3s;
  z-index: -1;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  opacity: 0;
  border-radius: 8px;
}
.more-link a:after,
.button a:after,
.btn a:after,
#filters li a:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  background: #333;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
  -moz-transition: -moz-transform 0.2s, opacity 0.3s;
  transition: transform 0.2s, opacity 0.3s;
  opacity: 1;
  border-radius: 8px;
}
.more-link a:hover,
.button a:hover,
.btn a:hover,
#filters li a:hover,
#filters li a.selected {
  background: none !important;
}
.more-link a:hover:after,
.button a:hover:after,
.btn a:hover:after,
#filters li a:hover:after,
#filters li a.selected:after {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
  opacity: 0;
}
.more-link a:hover:before,
.button a:hover:before,
.btn a:hover:before,
#filters li a:hover:before,
#filters li a.selected:before {
  opacity: 1;
}
.btn-2 a {
  padding: 14px 30px 19px;
  font: 400 16px/20px 'Archivo Black', sans-serif;
}
.btn-2 a:after {
  background: #464646;
}
.btn-2 a:after,
.btn-2 a:before {
  border-radius: 0;
}
input[type="submit"],
input[type="reset"] {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 7px 20px;
}
.more-link {
  padding-top: 20px;
  text-align: left;
}

.gmap-popup a{
	color:#2F1614;
	text-decoration:underline;
}

.gmap-popup a:hover{
	color:#ffd501;
}

/* Lists
===========================================================================*/
ul,
.item-list ul,
ul.menu {
  margin: 0 0 24px;
}
ul li,
.item-list ul li,
ul.menu li {
  list-style: disc inside;
  font-size: 16px;
  line-height: 22px;  
  margin: 0;
  padding: 10px 20px 15px 0;
}
ul li a,
.item-list ul li a,
ul.menu li a {
  color: #5b5b5b;
  text-decoration: none;
}
ul li a:hover,
.item-list ul li a:hover,
ul.menu li a:hover {
  color: #8db698;
  text-decoration: none;
}
ul li ul,
.item-list ul li ul,
ul.menu li ul {
  padding-top: 10px;
}
/* Reset styles for lists */
ul.tabs li,
ul.flex-direction-nav li,
ul.links li,
ul#admin-menu-menu li,
ul#admin-menu-account li,
ul#admin-menu-icon li,
ul.slides li,
ul.contextual-links li,
ul.tips li,
ul.pager li,
.messages.error ul li,
.rate-widget ul li,
ul.submitted-list li {
  border: none;
  background: none;
  font: inherit;
  padding: 600;
}
.messages.error ul li {
  list-style: disc;
}
#admin-menu,
#admin-menu .dropdown {
  z-index: 10000;
}
.contac-list dl {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}
.contac-list dl dt {
  font-weight: 400;
}
.contac-list dl dd {
  margin: 0;
}
.contac-list dl dd span {
  display: inline-block;
  width: 98px;
}

/* Images
===========================================================================*/
img {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  max-width: 100%;
  width: auto;
}
img.lazyloader-icon {
  width: auto !important;
}


/* Paragraph
===========================================================================*/
p {
  font-size: medium;
  margin-bottom: 24px;
}
/* Tables
===========================================================================*/
table {
  margin-bottom: 0;
}
table tr.odd,
table tr.even {
  border: none;
}
table tr.odd {
  background: transparent;
}
table tr.even {
  background: #f0f0f0;
}
table th {
  background: #f0f0f0;
  border: none;
  color: #8db698;
  font-size: 14px;
  padding: 5px;
}
table th a {
  color: inherit;
}
table th a:hover {
  color: #8db698;
  text-decoration: none;
}
table td {
  padding: 5px;
}
/* Classes
===========================================================================*/
.extra-wrap {
  overflow: hidden;
}
.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.clearfix {
  position: relative;
}
.clearfix:after {
  clear: both;
  content: '\0020';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.fclear {
  clear: both;
}
.separator {
  clear: both;
  height: 40px;
}
.separator-top {
  border-top: 0;
  clear: both;
  margin-top: 50px;
  padding-top: 0;
}
.separator-bottom {
  border-bottom: 0;
  margin-bottom: 50px;
  padding-bottom: 0;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.indent-top {
  padding-top: 28px;
}
.color-1 {
  color: #8db698;
}
.text-style-1 {
  line-height: 21px;
}
.image-style-1 img {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 500px;
  border: 5px solid #e4efea;
}
.img-left {
  float: left;
  max-width: 41%;
  margin: 0 20px 0 0;
}
.img-left-2 {
  float: left;
  max-width: 41%;
  margin: 0 40px 0 0;
}
.title-style-1 {
  text-transform: uppercase;
  color: #8db698;
  margin-bottom: 4px;
}
.title-style-2 h4 {
  margin-bottom: 23px;
  font-size: 24px;
  line-height: 24px;
  color: #626262;
}
.title-bg h2,
.content-header h2 {
  padding-bottom: 83px;
  margin-bottom: 57px;
}


.skip-link__wrapper{
	display:none;
}

/* Regions
===========================================================================*/
.region-header-top,
.region-header,
.region-header-bottom,
.region-content-top,
.region-content,
.region-content-bottom,
.region-footer-top,
.region-footer-one,
.region-footer-two,
.region-footer-three {
  position: relative;
  z-index: 1;
}
.region-header-top:after,
.region-header:after,
.region-header-bottom:after,
.region-content-top:after,
.region-content:after,
.region-content-bottom:after,
.region-footer-top:after,
.region-footer-one:after,
.region-footer-two:after,
.region-footer-three:after {
  overflow: hidden;
  clear: both;
  content: '';
  display: block;
  width: 100%;
}
.video-bg .region,
.img-bg .region {
  padding-bottom: 20px;
  padding-top: 20px;
}
.video-bg {
}
::selection,
::-moz-selection {
  background: #8db698;
  color: #fff;
  text-shadow: none;
}
img::selection,
img::-moz-selection {
  background: transparent;
}

/*==========================================================================
2. HEADER TOP
===========================================================================*/
.region-header-top {
  margin-bottom: 30px;
}
/*==========================================================================
3. HEADER
===========================================================================*/
#header {
  position: relative;
  width: 90%;
  max-width:1200px;
  margin:0 auto
}
.stickup {
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 9999;
}
.isStuck {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  top: 0;
}

/* Logo
===========================================================================*/

.not-front .header-bg {
  /* min-height: 437px; */
  display: none;
}


.header-bg, .header-bg-refuge {
  margin-top: 100px;
}
.header-section-1 {
  position: absolute;
  width: 100%;
  top: 50%;
  margin: -130px 0 0;
}
.not-front .header-section-2 {
  background: #fff;
  width: 100%;
  position: fixed;
  height: 8.3em;
  z-index: 99;
}
.header-section-2 {
  /* margin-bottom: -1.5em; */
  /* background: #8db698; */
  background: transparent;
  width: 100%;
  position: fixed;
  height: 8.3em;
  z-index: 99;
  background-color:#FFF;
  color:#000;
  box-shadow:0px 2px 8px #000;
  -webkit-box-shadow: 0px 2px 8px #000;
  -moz-box-shadow:0 2px 8px #000;
  left:0px;
  top:0px;
  
}
.header-scrolling {
  background: #8db698;
  width: 100%;
  position: fixed;
  z-index: 99;
}
.header-section-2 .container-12 .grid-12 {
  margin-bottom: -1.5em;
  height: 0;
}

/* revert me to 1200 */

.container-12 .grid-12 {width: 100%;margin:0;}

.region.region-menu {
  /* margin-top: -10.5em; */
  top: -10.5em;
  position: relative;
}

.header-image, .refuge-header-image{
	max-width:1200px;
	width:100%;
	max-height:680px;
	margin:100px auto 0;
	display:block;
}

.not-front .header-image{
	display:none;
}


/* Menu
===========================================================================*/
#block-system-main-menu {
  display: none;
}

.refuge .header-section-2, .refuge .header-section-2 #show-menu{
	position:absolute;
}

.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  display: none;
}
.header-section-2 input[type=checkbox] {
  display: none;
}
#superfish-1 {
  background: none;
  margin-bottom: 0;
  padding: 0 0 0 0;
  width: auto;
  z-index: 101;
  position: relative;
  margin-top:100px; 
  height:50px;
  display:flex;
}
#superfish-1:after {
  clear: both;
  content: '\0020';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
#superfish-1 > li {
  background: none;
  border: 0;
  font: 500 15px/12px 'Frutiger LT W01 65 Bold', Arial, sans-serif;
  margin: 0;
  overflow: inherit;
  padding: 0;
  text-transform: uppercase;
  position: relative;
  list-style:none;
}
#superfish-1 > li:after {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: '';
  display: inline-block;
  width: 1px;
  position: absolute;
  left: 0;
  top: 30px;
  bottom: 30px;
}
#superfish-1 > li:first-child:after {
  display: none;
}
#superfish-1 > li > a {
  padding: 43px 30px 45px;
  color:#7f6356;
  text-decoration: none;
  position: relative;
}
#superfish-1 > li > a:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  background: #fff;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
  -moz-transition: -moz-transform 0.2s, opacity 0.3s;
  transition: transform 0.2s, opacity 0.3s;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 0;
}
#superfish-1 > li > a .sf-sub-indicator {
  background: none;
  position: absolute;
  display: inline-block;
  height: 0;
  width: 0;
  top: auto;
  bottom: 33px;
  left: 50%;
  margin: 0 0 0 -2px;
  text-indent: -9999px;
  border: 4px solid transparent;
  border-top: 4px solid #fff;
}
#superfish-1 > li > a:hover,
/*#superfish-1 > li.active-trail > a,*/
#superfish-1 > li.sfHover > a {
  color: #232323;
  background: none;
  text-decoration: none;
}
#superfish-1 > li > a:hover:after,
/*#superfish-1 > li.active-trail > a:after,*/
#superfish-1 > li.sfHover > a:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
#superfish-1 > li ul {
  background: #8db698;
  display: none;
  padding: 15px 0 11px;
  top: 108px;
  width: 130px !important;
}
#superfish-1 > li ul li {
  font: 400 12px/34px Arial, Helvetica, sans-serif;
  background: none;
  border-bottom: 0;
  float: none !important;
  font-size: 12px;
  height: auto;
  padding: 0 15px;
  width: auto !important;
}
#superfish-1 > li ul li > a:visited,
#superfish-1 > li ul li > a {
  color: #fff;
  text-decoration: none;
}
#superfish-1 > li ul li > a:visited .sf-sub-indicator,
#superfish-1 > li ul li > a .sf-sub-indicator {
  background: none;
  display: inline-block;
  font: inherit;
  height: auto;
  margin-left: 5px;
  overflow: visible;
  position: static;
  text-indent: 0;
  width: auto;
}
#superfish-1 > li ul li > a:hover,
/*#superfish-1 > li ul li.active-trail > a,*/
#superfish-1 > li ul li.sfHover > a {
  color: #2b1915;
  text-decoration: none;
}
#superfish-1 > li ul li ul {
  left: 101% !important;
  top: -15px;
}
#superfish-1 .sf-megamenu {
  width: auto !important;
}
#superfish-1 .sf-megamenu > li > ol {
  vertical-align: top;
  white-space: nowrap;
}
#superfish-1 .sf-megamenu > li > ol > li {
  display: inline-block;
  margin: 0 0 0 15px;
  padding: 0;
  vertical-align: top;
  width: 120px !important;
  white-space: normal;
}
#superfish-1 .sf-megamenu > li > ol > li:first-child {
  margin-left: 0;
}
#superfish-1 .sf-megamenu > li > ol > li a {
  color: #fff;
  text-decoration: none;
}
#superfish-1 .sf-megamenu > li > ol > li a:hover,
#superfish-1 .sf-megamenu > li > ol > li a.active,
/*#superfish-1 .sf-megamenu > li > ol > li.active-trail > a,*/
#superfish-1 .sf-megamenu > li > ol > li.sfHover > a {
  color: #2b1915;
  text-decoration: none;
}
#superfish-1 .sf-megamenu > li > ol > li ol {
  padding: 0;
}
#superfish-1 .sf-megamenu > li > ol > li ol li {
  display: block;
  float: none !important;
  margin-left: 0;
  padding: 0;
}


/* Slider
===========================================================================*/



/*==========================================================================
4. HEADER BOTTOM
===========================================================================*/

#header_bottom_wrapper .container-12, #header_bottom_wrapper .grid-12{
	width:auto;
}

.header_bottom_wrapper {
	color:#fff;
	position:absolute;
	bottom:30px;
	left:72%;
	padding:10px;
	border:1px solid #fff;
	height:3%;
	background-color:#907c73;
	align-content:center;
	font: bold 14px 'Frutiger LT W01 65 Bold', Arial, sans-serif;
}


/*==========================================================================
5. CONTENT TOP
===========================================================================*/



#homepage-actions-table td{
	width:25%;
	color:#fff;
	text-align:center;
	padding:20px;
}

#homepage-actions-table #action-runner{
	height:15px;
	background:#2F1614;
	padding:0;
}

#homepage-actions-table td h3{
	color:#fff;
	font-size:20px;
	margin-bottom:15px;
}

#homepage-actions-table td p{
	color:#fff;
	font-size:20px;
	line-height:30px;
}

#main-action-1{
	background:#2F1614;
}

#homepage-actions-table img{
	opacity:1.0;
	-moz-transition:opacity .5s;
	-webkit-transition:opacity .5s;
	transition:opacity .5s;
	transition-timing-function:linear;	
}

#homepage-actions-table img:hover{
	opacity:0;
}

.action-icon{
	width:100%;
	height:auto;
	background-size:contain;
	background-position: center;	
}

#arrow-icon{

	background-image:url("/sites/fws/themes/mnpn/images/arrow-icon.png");

}

#arrow-icon:hover{
	background-image:url("/sites/fws/themes/mnpn/images/arrow-icon-yellow.png");
}

#cog-icon{
	background-image:url("/sites/fws/themes/mnpn/images/cog-icon.png");
}

#cog-icon:hover{
	background-image:url("/sites/fws/themes/mnpn/images/cog-icon-yellow.png");
}

#flower-icon{
	background-image:url("/sites/fws/themes/mnpn/images/flower-icon.png");
}

#flower-icon:hover{
	background-image:url("/sites/fws/themes/mnpn/images/flower-icon-yellow.png");
}

#us-icon{
	background-image:url("/sites/fws/themes/mnpn/images/US-icon.png");
}

#us-icon:hover{
	background-image:url("/sites/fws/themes/mnpn/images/US-icon-yellow.png");
}

#main-action-2{
	background:#3E2923;
}

#main-action-3{
	background:#4D3A30;
}

#main-action-4{
	background:#5C4C3D;
}

/*==========================================================================
6. CONTENT
===========================================================================*/

.content-main{
	max-width:1200px;
}


h2.visually-hidden{
	display:none;
}

.tabs li{
	display:inline;
	border:1px solid black !important;
	border-radius:10px;
	padding-top:2px;
}

#main-wrapper {
  padding: 0;
}

#main {
 display: table !important;
    padding: 0px 0px 0px;
    width: 100% !important;       
}

.main-refuge{
	margin-top:0;
}

.main{
	margin-top: 2em;
}


/* 
FRONT PAGE

rlm 
*/

.featured-refuge-front-page{
	width:45%;
	margin-bottom:20px;
}

.featured-refuge-front-page{
	-moz-transition:opacity, -webkit-transform .5s;
	-webkit-transition:opacity, -webkit-transform .5s;
	transition:opacity, transform .5s;
	transition-timing-function:linear;
	opacity:1.0;
}

.featured-refuge-front-page:hover{
	opacity:.9;
	transform:scale(.95,.95);
}
/*	
	width:20%;
transform: rotate(20deg); */
.refuge-left{
	float:left;
}

.refuge-right{
	float:right;
}

.featured-refuge-text h5{
	color:#fff;
	font-family:FrutigerLTW01-55Roman,Arial, sans-serif;
	font-weight:bold;
}

.featured-refuge-text{
	padding:20px;
	color:#fff;
	margin-top:12px;
	font-family:FrutigerLTW01-55Roman,Arial, sans-serif;
}

.featured-refuge-text p {
	width:90%;
}

#arctic-nwr-container{
	background-color:#0e6da0;
}

.arctic-nwr-text{
	background-color:#3a97d3;
}

#sf-bay-nwr-container{
	background-color:#346c36;
}

.sf-bay-text{
	background-color:#599a53;
}

#vdr-nwr-container{
	background-color:#49575E;
}

.vdr-nwr-text{
	background-color:#698288;
}

#midway-atoll-nwr-container{
	background-color:#2E1324;
}

.midway-atoll-text{
	background-color:#55343D;
}


#canaan-valley-nwr-container{
	background-color:#ae4225;
}

.canaan-valley-nwr-text{
	background-color:#dd6a28;
}


#about-collaboration-btn{
	position:relative;
	top:-10px;
	margin-top:10px;
}

#about-collaboration-btn a{
	color:#fff;
}

#about-collaboration-btn a:hover{
	color:#ffd501;
}

/**

Sign Up Block

**/

#block-block-3{
	margin-bottom:0;
}

#sign-up-newsletter{
	background-color:#b89d84;
	float:right;
	clip-path:polygon(0% 100%, 100% 100%, 100% 0%, 10% 0px);
	clear:left;
	margin-right:-5%;
	margin-top:-10%;
	width:60%;
}

#sign-up-newsletter h4, #sign-up-newsletter h5, #sign-up-newsletter p{
	color:#fff;
	font-family:'FrutigerLTW01-55Roman',Arial,sans-serif;
}

#sign-up-newsletter p{
	font-size:medium;
	font-weight:normal;
	width:120%;
}

#sign-up-newsletter h4{
	font: bold 24px/36px;
	margin: 20px 0 10px;
	text-align:center;
}

#sign-up-newsletter h5{
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	margin: 20px auto 10px;
	width:50%;
	text-align:center;
}

#newsletter-button{
	text-align:center;
}

#newsletter-button button{
	background-color:#2e1413;
	border: 0;
	border-radius:50px;
	border: 1px transparent;
	color: #fff;
	font: bold 17px/30px 'FrutigerLTW01-55Roman',Arial,sans-serif;
	padding: 10px 35px;	
}

#newsletter-description{
	text-align:center;
	width:50%;
	margin:0 auto;
}

.sign-up-text{
	margin-top:20px;
	font-weight:bold;
}

#newsletter-icon{
	font-size:65px;
	color:#2e1413;
	float:left;
	margin-right:20px;
}

/*
Call Arrow
*/
.call-arrow{
	line-height:36px;
	max-width:450px;
	text-align:center;
	margin:0 auto 25px;
}

.call-arrow .call-arrow-link{
	display:block;
	background:transparent url("/sites/fws/themes/mnpn/images/call-arrow-green.png") center right no-repeat;
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
	padding:0 15px 3px;
	font-style:normal;
	font-family: 'FrutigerLTW01-75Black',Arial,sans-serif;
	font-size:13px;
}

.call-arrow .call-arrow-link:hover, .call-arrow .call-arrow-link:active{
	color:#ffd501;
}


/*
Login Button
*/
#loginbutton{
	border:1px solid #000;
	min-width:10%;
	width:10%;
	max-width:20%;
	background:#fff;
	text-align:center;
}

#loginbutton strong, #loginbutton a{
	color:#000;
}

#loginbutton strong:hover, #loginbutton a:hover{
	color:#ffd501;
}

.login_label{
	margin-top:5px;
	font-size:11px; 
	font-style:italic; 
}


/*
Start a Project Page
===========================================================================*/

.project-profile-block{
	background-color:#fff;
	width:100%;
	padding:10px;
	margin-bottom:25px;
	padding-bottom:40px;
}

.project-profile-block h3{
	text-align:center;
	margin-top:20px;
	font: 800 28px/20px 'Frutiger LT W01 65 Bold',Arial,sans-serif;
	clear:both;
	color:#5a4541;
}

.project-profile-block p, .project-profile-block ul{
	margin-left:20px;
}

.project-profile-block a{
	text-decoration:underline;
	color:#599a53;	
}

.profile-pic{
	float:left;
	width:auto;
	height:150px;
	margin-left:5%;
	
}

.project-profile-block .profile-quote, .project-profile-block .profile-attribute{
	font-family:'FrutigerLTW01-55Roman',Arial,sans-serif;
	margin-left: 22%;
}

.profile-tip{
	margin:20px 5% 10px 5%;

}

/* Refuge Pages */

.refuge-content p{ 
	margin-left:30px;	
	width:85%;
}

.refuge-content{
	color:#fff;
}

.refuge-content li, .bullet-list li{
	list-style: disc outside none;
	text-decoration:none;
	border-bottom:0;
	font:100 13px/20px 'FrutigerLTW01-55Roman',Arial,sans-serif;
	margin-left:20px;
	
}


/*
Download Page
===========================================================================*/


.tool-btn{
	width:50%;
	height:auto;
	margin:0 auto;
	margin-bottom:50px;
}

.tool-btn:hover{
	width:50%;
	height:auto;
	background-position:center;
	background-size:contain;	
}


#visualization-btn:hover{
	background-image:url('https://www.usanpn.org/files/shared/viz_tool_docs/visualization-tool-overstate2.png');
}

#pop-btn:hover{
	background-image:url('https://www.usanpn.org/files/pop-graphics/pop-revised-graphic-active.png');
}

.tool-btn img{
	opacity:1.0;
	-moz-transition:opacity .25s;
	-webkit-transition:opacity .25s;
	transition:opacity .25s;
	transition-timing-function:linear;
}

.tool-btn img:hover{
	opacity:0.0;
}


/*
Refuges Map Page
===========================================================================*/

.refuge-list.views-row-even{
	background-color:#2F1614;
}

.refuge-list.views-row-odd{
	background-color:#5C4C3D;
}

.refuge-list a{
	color:#fff;
	padding:5px 0 5px 20px;
}

.refuge-list a:hover{
	color:#ffd501;
}

.view-refuge-list{
	border:1px solid #000;
}


/* System messages
===========================================================================*/
div.messages {
  margin-bottom: 30px;
  padding-right: 30px;
}
div.messages .dismiss {
  box-shadow: none;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
  padding: 2px 6px 4px;
  text-transform: lowercase;
  width: auto;
}
div.messages .dismiss:hover {
  color: #fff;
  text-shadow: none;
}



/* Admin tabs
===========================================================================*/
.tabs-wrapper {
  margin: 1px 0 20px;
}
.tabs {
  overflow: hidden;
}
.tabs ul.primary {
  border: 0;
  border-bottom: 1px solid #e1e1e1;
  margin: 0 0 20px;
  overflow: hidden;
  padding: 4px 0;
}
.tabs ul.primary li {
  margin-bottom: -1px;
}
.tabs ul.primary li a {
  background: #fff;
  border: 1px solid #e1e1e1;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  color: #7c7c7c;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
  padding: 3px 15px 4px;
  text-shadow: none;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.tabs ul.primary li.active a,
.tabs ul.primary li a:hover {
  background: #8db698;
  border-color: #84b090;
  color: #fff;
  text-decoration: none;
}


/* Blocks
===========================================================================*/



/*==========================================================================
7. CONTENT BOTTOM
===========================================================================*/
.content_bottom_wrapper {
  padding: 20px 0 50px;
}


/*==========================================================================
8. PAGES
===========================================================================*/


/* Contact Us */
.connect-block h2.block__title.block-title {
  text-align: center;
}




.node {
  border-top: 0;
  clear: both;
  margin-top: 50px;
  padding-top: 0;
}


/* Node Tags */
.node-footer {
  padding-top: 30px;
}




/* Contact
===========================================================================*/
.panels-flexible-region-11-contacts,
.panels-flexible-region-11-center {
  float: none;
  width: 100% !important;
}
.contact-form .form-item {
  margin-top: 0 !important;
  position: relative;
}
.contact-form input[type="text"],
.contact-form textarea {
  position: relative;
  z-index: 20;
}
.contact-form input[type="text"].error,
.contact-form textarea.error {
  border-color: #f8b9b7 !important;
  border-width: 1px;
  box-shadow: 0 0 8px #f8b9b7 !important;
}
.contact-form textarea {
  min-height: 145px;
}
.contact-form .form-type-textfield {
  margin-bottom: 30px !important;
  width: 30%;
}
.contact-form .form-type-textfield:first-child {
  margin-left: 0;
}
.contact-form .form-type-textarea {
  clear: both;
}
.contact-form div.error-message {
  background: #ec7b7b;
  bottom: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: normal;
  left: 0;
  line-height: 16px;
  margin: 0 0 5px;
  max-width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  padding: 3px 5px;
  position: absolute;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  z-index: -999;
}
.contact-form div.error-message:after {
  content: '';
  position: absolute;
  left: 10px;
  bottom: -5px;
  border-top: 5px solid #ec7b7b;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.contact-form .error ~ div.error-message {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  z-index: 999;
}
.contact-form input[type="reset"] {
  margin-right: 10px;
}
.contact-form .form-actions {
  display: inline-block;
}


/* 404 Page not found
===========================================================================*/
.page-page-404 .panel-col-first {
  color: #8db698;
  font: bold 250px/200px Arial, Helvetica, sans-serif;
  text-align: center;
}
.panel-2col .panel-col-first .inside {
  margin: 0 20px 0 0;
}
.panel-2col .panel-2col .panel-col-last .inside {
  margin: 0 0 0 20px;
}


/* Compose tips
===========================================================================*/
.compose-tips .filter-type {
  margin-top: 40px;
}
.compose-tips .filter-type:first-child {
  margin-top: 0;
}





/*==========================================================================
9. SIDEBARS and BLOCKS
===========================================================================*/
.sidebar {
  position: relative;
}
.sidebar .block {
  border-top: 0;
  clear: both;
  margin-top: 50px;
  padding-top: 0;
}
.sidebar .block:first-child {
  border-top: 0 !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.field-label-inline .field-label,
.field-label-inline .field-items {
  max-width: 100%;
}
/* Contextual links
===========================================================================*/
.not-logged-in .contextual-links {
  display: none !important;
}
.contextual-links li {
  padding: 0;
  background: none;
}


.gmap {
	width:100%;
	height:400px;
}



/* Search
===========================================================================*/
#search-block-form .element-invisible,
[id^="search-block-form"] .element-invisible {
  display: none !important;
}
#search-block-form .container-inline,
[id^="search-block-form"] .container-inline {
  border: 1px solid #e1e1e1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#search-block-form .form-item-search-block-form,
[id^="search-block-form"] .form-item-search-block-form {
  display: block;
  margin: 0 30px 0 0;
}
#search-block-form input.form-text,
[id^="search-block-form"] input.form-text {
  background: none;
  border: none;
  display: block;
  margin: 0;
  width: 100%;
}
#search-block-form [id^=edit-actions],
[id^="search-block-form"] [id^=edit-actions] {
  z-index: 1;
}
#search-block-form [id^=edit-actions]:after,
[id^="search-block-form"] [id^=edit-actions]:after {
  color: #7c7c7c;
  content: "\f002";
  cursor: pointer;
  font: 20px/30px FontAwesome;
  margin-top: -16px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  width: 30px;
  z-index: 1;
}
#search-block-form [id^=edit-actions]:hover:after,
[id^="search-block-form"] [id^=edit-actions]:hover:after {
  color: #8db698;
}
#search-block-form .form-submit,
[id^="search-block-form"] .form-submit {
  background: none;
  border: none;
  border-radius: 0;
  bottom: 0;
  box-shadow: none;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  line-height: 0;
  margin: 0 !important;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  z-index: 2;
}

/*==========================================================================
10. SHORTCODES
===========================================================================*/
.progressbar .progressbar-wrap {
  background: #e1e1e1;
}
.progressbar .progressbar-background {
  background: #8db698;
}
.pullquote-quote {
    z-index: 1;
    background: rgba(141, 182, 152, 0.48);
    border: none;
    color: #333;
    display: block;
    font-size: 20px !important;
    font: italic 1em Georgia, "Times New Roman", Times, serif;
    line-height: 1.7em;
    margin: 0 0 1em 0em;
    padding: 1em;
    width: auto;
}
.pullquote-quote:before {
  content: no-open-quote !important;
}
.pullquote-quote:after {
  content: no-close-quote !important;
}

/*==========================================================================
11. FOOTER TOP
===========================================================================*/
/*==========================================================================
12. FOOTER
===========================================================================*/
#footer {
  clear: both;
  padding: 0;
  position: relative;
}

.fws-customize-mode footer{
	display:none;
}

.footer-wrapper {
  background: #333;
  padding: 3em 0 4em;
  color: #fff;
}
.footer-wrapper h2 {
  text-align: left;
  font-size: 38px;
  line-height: 38px;
  margin-bottom: 16px;
  color: #fff;
}



.footer-wrapper a {
  color: #fff;
}
.footer-wrapper a:hover {
  color: #8db698;
}

/**
* RLM footer changes
*/

.footer-wrapper h5{
	color:#fff;
	font-size:20px;
	font-family: 'Frutiger LT W01 65 Bold', Arial, sans-serif;
}

#collaborator-table{
	width:100%;
}


#collaborator-table a{
	text-decoration:underline;
	font-size:medium;
	font-family: 'FrutigerLTW01-55Roman', Arial, sans-serif;
	line-height:20px;
}

#collaborator-table a:hover{
	color:#ffd501;
}

#collaborator-table li{
	border:0;
	line-height:18px;
	border-bottom:none;
	list-style:none;
}


#collaborator-table td{
	border-right: 1px solid white;
	padding:0 30px;
	width:20%;
}

#collaborator-table p{
	text-align:center;
}

#collaborator-table img{
	max-height:85px;
}

#collaborator-table h5{
	margin-top:-35px;
	margin-left:-15px;
}

.small-logo{
	margin:0 25%;
}

.logo-row-bottom td{
	vertical-align:bottom;
}

.hide-desktop{
	display:none;
}


/* Footer menu
===========================================================================*/
.footer-menu .content ul {
  margin: 0;
  overflow: hidden;
}
.footer-menu .content ul li {
  background: none;
  margin: 5px 0 0;
  padding: 0;
  border: none;
}
.footer-menu .content ul li:first-child {
  margin-top: 0;
}
.footer-menu .content ul li a {
  color: inherit;
  text-decoration: none;
}
.footer-menu .content ul li a:hover,
.footer-menu .content ul li a.active {
  color: #8db698;
  text-decoration: none;
}
/* Copyright
===========================================================================*/


.block-tm-follow-site span.tm-follow-link-wrapper {
  font-size: 24px;
  line-height: 30px;
  margin-left: 21px;
}
.block-tm-follow-site span.tm-follow-link-wrapper:first-child {
  margin-left: 0;
}
.block-tm-follow-site span.tm-follow-link-wrapper a {
  color: #878787;
}
.block-tm-follow-site span.tm-follow-link-wrapper a:hover {
  color: #8db698;
}
/* Back to top
===========================================================================*/
#backtotop {
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: #ffd501;
  border-radius: 50%;
  bottom: 100px;
  color: transparent;
  font-size: 0;
  line-height: 0;
  margin-right: 0 !important;
  padding: 3px 0 7px;
  position: fixed;
  right: 40px !important;
  text-align: center;
  text-decoration: none;
  width: 70px;
  z-index: 5;
  background: none;
  opacity: 1 !important;
  box-shadow: 0 0 0 4px #ffd501;
}
#backtotop:before {
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  top: -2px;
  left: -2px;
  padding: 2px;
  z-index: -1;
  background: #ffd501;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
  -moz-transition: -moz-transform 0.2s, opacity 0.3s;
  transition: transform 0.2s, opacity 0.3s;
  opacity: 1;
}
#backtotop:after {
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #fff;
  content: "\f077";
  font: normal 40px/60px FontAwesome;
}
#backtotop:hover {
  box-shadow: 0 0 0 4px #464646;
}
#backtotop:hover:before {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 0;
}
#backtotop:hover:after {
  color: #464646;
}

/***
* Dashboard Stuff
***/


 .visualizations[_ngcontent-c2] mat-card[_ngcontent-c2] .visualization-title[_ngcontent-c2], .refuge-dashboard-tabs .mat-tab-group, .refuge-dashboard-tabs .mat-tab-label, .refuge-dashboard-tabs .mat-tab-link{
	 font-family: 'FrutigerLTW01-55Roman', Arial, sans-serif;
 }
 
 .rd-tab-content h3[_ngcontent-c3]{
	 font-size:24px;
	 font-family: 'FrutigerLTW01-55Roman', Arial, sans-serif;
	 margin-bottom:20px;
	 font-weight:400;
 }
 
 .visualization-title {
	 color:rgb(97,97,97);
	 font-size:24px;
 }




/* Switcher
===========================================================================*/
.switcher {
  cursor: pointer;
  margin-top: 10px;
  font-size: 11px;
}
.switcher:hover {
  text-decoration: underline;
}
.panels-flexible-region-13-center {
  width: 100%;
}
.parallax {
  background: url(../../images/parallax.jpg) center top no-repeat;
}
/* 13. Mobile */
/* Table of Contents:
   1. Tablet landscape
   2. Tablet portrait
   3. Mobile landscape
   4. Mobile portrait
*/
/*==========================================================================
1. Tablet landscape
===========================================================================*/
.switcher {
  display: none;
}
@media (max-width: 1550px) {
  #dtable_wrapper {
    width: 1200px;
  }
}
@media (max-width: 1250px) {
  body {
    min-width: 320px;
  }
  #superfish-1 > li > a {
    padding: 43px 20px 45px;
    font-size: 13px;
  }
  .grid-features img {
    width: 238px;
    height: 238px;
  }
  .grid-data-tools-block {
    width: 30.5%;
  }
  .grid-participate-block {
    width: 30.5%;
  }
  .site-name {
    font-size: 56px;
  }
  .views-field.views-field-body strong {
    position: relative;
    bottom: 1em;
  }
  #pivot-table-container {
    margin: 0 auto 8em auto;    
    overflow: auto;
  }
  #dtable_wrapper {
    width: 1000px;
  }
  .switcher {
    display: inline-block;
  }
  .view-services .views-row {
    padding: 0;
  }
  .view-solution .views-row {
    padding: 0;
  }
  .indent-top {
    padding-top: 0;
  }
}
@media (max-width: 1040px) {
  #dtable_wrapper {
    width: 900px;
    margin-left: 0;
  }
}
/*==========================================================================
2. Tablet portrait
===========================================================================*/
@media (max-width: 1024px) {
	
	
	.container-12 .grid-12{
	}
	
	.title-center{
		width:50%;
	}
	
	.container-12 .grid-4{
		width:100%;
	}
	
	#page-header-tagline{
	}
	
	.header-bg-refuge{
		margin:0 auto;
	}

	.header-bg{
		margin-top:20px;
	}
	
	.header_bottom_wrapper{
		bottom:90px;
	}
	
	.not-front .footer-wrapper{
		margin-top:25px;
	}
	
  .page-page-404 .panel-col-first {
    font-size: 160px;
  }

  .header-section-2, 
  .not-front .header-section-2 {
    background: #fff;
    height: auto;
	min-height:85px;
  }  
  .nav-logo img {
    width: 87px;
  }
  .nav-logo {
    left: 7em;
    top: 0.3em;
    text-align: right;
  }
  #dtable_wrapper {
    width: 100%;
    overflow: auto;
    margin: 0 auto; 
  }

  .menu__item.is-leaf {
    list-style-image: none !important;
    list-style-type: none !important;
  }
  #block-system-main-menu ul.menu li a {
    color: #fff;
  }

  .site-name {
    font-size: 44px !important;
  }

  .title-bg h2, .content-header h2 {
    margin-bottom: -12px;
  }
  .grid-data-tools-block {
    width: auto;
    float: none;
    margin-top: 6em !important;
    margin-left: 7em;
    margin-right: 7em;
    display: block;
  }
  .grid-data-tools-content {    
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
  }
  .grid-participate-block {
    width: auto;
    float: none;
    margin-top: 6em !important;
    margin-left: 7em;
    margin-right: 7em;
    display: block;
  }
  .grid-participate-content {    
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
  }
  .grid-features-button {
    width: 200px !important;
    margin: 2em auto !important;
  }
  .grid-features-block {
    width: auto;
    float: none;
    display: block;
  }
  .grid-features-content {
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;
  }
  .grid-features img {
    width: 350px;
    height: 350px;
  }  

  #main {
    display: table !important;
    padding: 0 0;
    width: 100% !important;
	background-color:#fffaeb !important;
  }
  .sidebar {
    display: table-footer-group !important;
    float: none;
    width: 89% !important;
    margin: auto !important;
  }
  .content-main {
    display: table-header-group !important;
    width: 100% !important;
    margin: auto !important;
  }
  .sidebar ul li {
    width: 89% !important;
    margin: auto !important;
  }
  .field-items {
    display: table-header-group !important;
  }
  h2.block__title.block-title {
    margin-top: 0 !important;
  }
  .stickup {
    box-shadow: none !important;
    position: static !important;
  }
  .pseudoStickyBlock {
    display: none !important;
    height: 0 !important;
  }
  #backtotop {
    display: none !important;
  }

  h2 {
    font: 400 34px/34px 'Archivo Black', sans-serif;
  }
  h3,
  #block-tm-follow-user h2 {
    font: 400 30px/30px 'Archivo Black', sans-serif;
  }
  h4 {
    font: 400 24px/24px 'Archivo Black', sans-serif;
  }
  .view-services .views-row .services-wrap {
    height: 170px;
  }
  .view-services .views-row .counter {
    padding-top: 20px;
    font-size: 30px;
    line-height: 30px;
  }
  .view-services .views-row h5 {
    font-size: 18px;
  }
  .block-copyright .sitename {
    font-size: 40px;
    line-height: 40px;
  }

  form {
    margin: 5em 0;
  }
}
@media (max-width: 911px) {
  .nav-logo {
    left: 4.3em;
  }
}
@media (max-width: 825px) {
  .nav-logo {
    left: 2.3em;
  }
}
/*==========================================================================
3. Mobile landscape
===========================================================================*/
@media (max-width: 767px) {
	
   #homepage-actions-table td{
	   display:block;
	   width: 80%;
	   margin:5px auto 0;
   }

	#homepage-actions-table td#action-runner{
		display:none;
	}      
	
	
  #superfish-1 {
    display: none;
  }
  
  #block-superfish-1{
	  display:none;
  }
  
  .nav-logo img {
    width: 72px;
  }
  .nav-logo {
    left: 0;
    top: -1em;
    text-align: right;
    /*z-index: 100;*/
  }
  .region.region-menu {
    top: 0;
  }
  
   .header_bottom_wrapper{
	   display:block;
	   position:inherit;
	   width:90%;
	   margin:0 auto;
	   left:0;
	   bottom:0;
	   padding:0;
	   height:30px;
	   text-align:center;
   }

	#collaborator-table{
		width:90%;
		float:none;
		margin:0 auto 35px;		
	}
	
	#collaborator-table td{
		display:block;
		width:100%; 
		margin:0 auto 10px;
		border:0 0 0 40px;
		padding:0 0 10px 0;
		border-bottom:1px solid #fff;
		border-right:0;
	}
	
	#collaborator-table h5{
		margin-top:0;
	}
	
	.hide-desktop{
		display:block;
		margin:0 auto;
	}
	
	.logo-row-bottom{
		display:none;
	}
	
	#collaborator-learn-more{
		width:100%;
		margin:0 auto;
	}
   

   
  
  #block-system-main-menu {
    display: block;
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    outline: none;
  }
   #block-system-main-menu ul.menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #5C4C3D;
    top: -1.6em;
    text-decoration: none;
    color: #fff;
    position: relative;
    margin: 0 -1em;
    text-align: center;
    display: none;
  }
  .menu__item.is-leaf {
    list-style-image: none !important;
    list-style-type: none !important;
  }
  #block-system-main-menu ul.menu li a {
    color: #fff;
  }
  .header-section-2 #show-menu {    
    display: block;
    position: fixed;
    color: #445656;
    margin: -.3em 0;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    z-index: 100;
  }
  .site-name {
    font-size: 43px !important;
  }
  .summary-tables-slide .views-slideshow-pager-field-item {
    width: 14%;
  }
  .grid-features img {
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .grid-features-content {
    width: 400px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .grid-features-button {
    width: 200px !important;
    margin: 1em auto 3em !important;
  }
  .grid-data-tools-content {    
    float: none;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    width: 50% !important;
  }
  .grid-participate-content {    
    float: none;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    width: 50% !important;
  }
  .profiles-view .view-content {
    margin: 0 auto !important;
    text-align: center;
  }
  .profiles-view .views-field-body {
    margin: 0 auto;
  }
  .profiles-view table td {
    float: left;
    width: 100%;
  }
  .view-photo-gallery table td {
    float: left;
    width: 100%;
  }
  .view-photo-gallery .views-field-body .more-link {
    margin-left: 2.5em;
  }
  .view-photo-gallery .view-content {
    margin: 0 auto;
    text-align: center;
  }
  .view-photo-gallery .views-field-body {
    margin: 0 auto;
  }
  #block-block-16 {
    padding-top: 2em;
  }
  #main {
    display: table !important;
    padding: 0;
    width: 100% !important;
  }
  .sidebar {
    display: table-footer-group !important;
  }
  .sidebar ul li {
    width: 89% !important;
    margin: auto !important;
  }
  .field-items {
    display: table-header-group !important;
  }
  .news-feed-block h2.block__title.block-title {
    text-align: center;
  }
  .footer-wrapper h2,
  .region.region-footer-one,
  .region.region-footer-two h2.title.block-title, 
  .region.region-footer-two,
  .footer-news h2.block__title.block-title,
  .footer-news ul,
  .more-link {
    text-align: center !important;
  }
  .title-bg h2, .content-header h2 {
    margin-bottom: -30px;
  }
  .header-section-2 #show-menu {
    margin: -0.85em 0;
    font-size: 19px;
  }
  
  .refuge-header-image{
	  margin-top:65px;
  }
  
.header-image, .refuge-header-image{
	max-width:1200px;
	width:100%;
	max-height:680px;
	margin:65px auto 0;
	display:block;
}

#page-header-tagline{
	margin-top:65px;
}  
  
  .header-section-2,
  .not-front .header-section-2 {
    min-height: 20px;
    background: #fff;
  }
  .block.block-sharethis {
    margin-top: 5em;
  }
  .nav-logo img {
    width: 72px;
  }
  .comment-wrapper {
    overflow: visible;
  }
  .user-picture {
    margin-bottom: 12px;
  }
  .views-field-field-portfolio-image {
    pointer-events: none;
  }
  .panel-2col .panel-col-first,
  .panel-2col .panel-col-last {
    float: none;
    width: 100%;
  }
  .panel-2col .panel-col-first .inside,
  .panel-2col .panel-col-last .inside {
    margin: 0;
  }
  .page-page-404 .panel-col-first {
    font-size: 170px;
    line-height: 170px;
    text-align: center;
  }
  .filter-help {
    float: none;
    margin-bottom: 15px;
    padding-top: 0;
  }
  .mobile-two-column .views-row {
    float: left !important;
    width: 46% !important;
    margin-right: 4% !important;
  }
  .mobile-two-column .views-row.even {
    margin-right: 0 !important;
  }
  .mobile-two-column .views-row.odd {
    clear: left;
  }
  #flexslider-1 .flex-caption {
    position: static;
    width: auto;
  }
  .contact-form .form-type-textfield {
    float: none;
    margin-left: 0;
    width: 100%;
  }
  .header-section-2 {
    padding: 20px 0;
  }
  .view-solution .views-field-field-solution-image {
    max-width: 60%;
    display: inline-block;
  }
  .view-services .views-row .services-wrap {
    width: 170px;
    display: inline-block;
  }
  .view-testimonials .flexslider .views-field-field-testi-image {
    float: none;
    margin: 0;
  }
  .site-name {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -3px;
  }
  .header-section-1 {
    margin-top: -100px;
  }
  .view-slider {
    position: relative;
    overflow: hidden;
  }
  .view-slider .flexslider {
    position: relative;
    width: 800px;
    left: 50%;
    margin-left: -400px;
  }
  .img-left {
    float: none;
    max-width: none;
    margin: 0 0 20px;
  }

  .views-row.omega {
    margin-bottom: 30px !important;
  }
}
/*==========================================================================
4. Mobile portrait
===========================================================================*/
@media (max-width: 479px) {
	/*
	.mat-tab-labels{
		flex-wrap:wrap;
		justify-content:center;
	}
	
	.mat-tab-label{
		display:block;
		width:100%;
	}
	
	
	.rd-tab-label[_ngcontent-c0]::before {
		position:static;
		margin-right:10px;
	}
	*/
	
	#block-superfish-1 .block__title{
	   	display:none;
	}
	
	#block-system-main-menu ul.menu{
		background:#5C4C3D;
	}
	
	.header-section-2 #show-menu{
		color:#ffd501;
	}
	
	#block-system-main-menu ul.menu li a:hover{
		color:#ffd501;
	}
	
    .container-12{
		padding:0;
		width:auto;
	}
	
   .container-12 .grid-12{
	   width: auto; 
	   margin:0 auto;
   }
   

   
   .header-image{
	   width:auto;
	   max-height:220px;
   }
   
   #header{
	   width:100%;
   }
   
   #header_bottom_wrapper .block{
	   margin-bottom:0;
   }
   
   #about-collaboration-btn{
	   text-align:center;
   }
   
   .header-bg, .header-bg-refuge{
	   min-height:20em;
	   margin-top:45px;
   }
   
   .header-bg-refuge{
	   width:auto;
	   min-height:15.7em;
   }



   .refuge-left, .refuge-right{
	   float:none;
   }

   .featured-refuge-front-page{
	   width:90%;
	   margin:0 auto;
   }
   
   .title-center{
	   width:100%;
   }
   

	#sign-up-newsletter{
		float:none;
		margin:0 auto;
		clip-path:none;
		width:90%;
	}
	
	#newsletter-description{
		width:100%;
	}
	
	#sign-up-newsletter p{
		width:100%;
	}
	
	#sign-up-newsletter h4{
		font-size:24px;
		font-weight:bold;
		padding-top:15px;
	}
	
	#sign-up-newsletter h5{
		font-size:16px;
		line-height:18px;
		margin:10px auto;
	}
	
	#newsletter-button button{
		padding:5px 20px;
		font: bold 12px/30px 'FrutigerLTW01-55Roman',Arial,sans-serif;
		border-radius:20px;
	}
	
	#newsletter-icon{
		margin:15px;
		font-size:60px;
	}
	
	.footer-wrapper h5{
		font-size:30px;
		text-decoration:underline;
	}
	

	
	
	.not-front .page-title-no-banner{
		margin:40px auto;
	}
	
	.views-row{
		margin-bottom:0;
	}
	
  #block-views-refuge-list-block{
	  width:95%;
	  margin:0 auto 1.5em;
  }
  
  .node-content{
	  width:95%;
	  margin:20px auto 0 auto;
  }
  
  .project-profile-block{
	  padding:0;
  }
  
  #page-header-tagline{
	  min-height:unset;
	  background-position:center;
	  width:100%;
	  min-width:7%;
	  background-size:cover;
	  background-repeat:no-repeat;
	  margin-top:45px auto 0;
	  min-height:15.7em;
  }
  
  .tagline-text{
	  font-size:12px;
	  line-height:20px;
	  margin:30px auto 0px auto;
	  padding:0px 15px 15px 15px;
  }
  
  	
  .header-section-2 #show-menu {
    margin: -1em 0;
    font-size: 18px;
  }
  .header-section-2,
  .not-front .header-section-2 {
    height: 1.3em;
  }
  .nav-logo img {
    width: 66px;
  }
  .site-name {
    font-size: 39px !important;
  }

  .node-blog-post {
    width: 83%;
  }
  .grid-features-content {
    width: auto !important;
  }
  .grid-features-content p {
    padding: 0 1em;
  }
  .grid-features-button {
    width: auto !important;
  }
  .grid-data-tools img {
    width: 250px;
    height: 175px;
  }
  .grid-participate img {
    width: 180px;
  }
  #block-system-main-menu ul.menu {
    top: -1.6em;
  }
  .profiles-view .field-content, 
  .profiles-view .views-field-field-image img,
  .profiles-view .views-field-body {
    width: 210px;
    margin: 0 auto !important;
  }
  #main {
    margin-top: 0 !important;
	padding:0 0;
  }
  #welcome-snippet {
    margin: 0;
    padding: 0 1em;
  }
  #welcome-snippet h1 {
    font: 400 23px/24px 'Archivo Black', sans-serif;
  }
  .title-bg h2, .page-title-no-banner{
    padding-bottom: 70px;
    margin-bottom: 1em;
    position: relative;
    top: 1.5em;
  }
  
  .node{
	  margin-top:0;
  }
  
  .grid-data-tools-content {
    width: 70% !important;
  }
  .grid-participate-content {
    width: 70% !important;
  }
  /*
  .grid-data-tools-content .grid-features-button {
    margin: 1em -2em !important;
  }*/
  .node-teaser .field-type-file,
  .node-teaser .field-type-image,
  .node-employee .field-type-image {
    float: none;
    margin: 0 0 20px;
    max-width: inherit;
    width: auto;
  }
  #isotope-options #filters li {
    display: block;
    margin: 0 0 10px;
  }
  .node-submitted ul.submitted-list li {
    float: none;
    margin: 0;
    padding: 3px 0;
    border-bottom: 1px solid #e1e1e1;
  }
  #comments .comment .comment-wrapper {
    overflow: visible;
  }
  #comments .indented {
    margin-left: 0;
  }
  .page-tracker #main-wrapper .content {
    overflow-x: scroll;
  }
  .page-tracker #main-wrapper .content table.sticky-header {
    display: none !important;
  }
  .page-forum #forum {
    overflow-x: scroll;
  }
  .page-forum #forum td.forum .icon {
    float: none;
    margin: 0 0 5px;
  }
  .field-name-field-testi-image {
    float: none;
    margin: 0 0 20px;
    max-width: inherit;
  }
  .mobile-two-column .views-row {
    float: none;
    width: 100% !important;
    margin-right: 0 !important;
  }
  .view-mission .views-row .views-field-field-mission-image {
    float: none;
    max-width: none;
    margin: 0 0 20px;
  }
  .img-left-2 {
    float: none;
    max-width: none;
    margin: 0 0 20px;
  }
}
@media (max-width: 410px) {
  .node-blog-post {
    width: auto;
  }
}
@media (max-width: 330px) {
  .field-item.even {
    width: 300px;
  }
}

